:root {
   --navbar-height: 80px;
}

@media (min-width: 992px) {
   :root {
      --navbar-height: 125px;
   }
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100dvh;
}

body>main {flex-grow: 1;}

.navbar {height: var(--navbar-height);}